In [81]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('orders_history.csv')
df.head(5)

,order_date,rider_assigned,food_picked_up,food_delivered,successful_order,failed_order,rider_id,vendor_id,price
0,2021-07-01 08:56:13,2021-07-01 09:04:09,2021-07-01 09:17:01,2021-07-01 09:29:58,1,0,bb2eac1de1b6d2b301fba4f2479c8cbf,ff6609fc0bf8b3824811a4ae7d431fd6,244.0
1,2021-07-01 10:16:07,2021-07-01 10:16:36,2021-07-01 10:49:33,2021-07-01 11:04:07,1,0,e46bfb686b9ff1d9de75f8d9ac604311,9e08b7b5bbd7d6162da8db1c8bb78f03,1064.0
2,2021-07-01 13:31:18,2021-07-01 13:31:37,2021-07-01 13:50:12,2021-07-01 14:08:42,1,0,2f5ce824cd2610e43c7d4136b4a78873,e522d9a7ad1528dd0b05bbfec5066679,1234.0
3,2021-07-01 10:40:13,2021-07-01 10:40:42,2021-07-01 10:57:57,2021-07-01 11:16:26,1,0,878c846a7bddb29f568a5b322648f1ad,e53c7bb7e4644ab981bc04a2c494c80c,794.0
4,2021-07-01 15:57:40,2021-07-01 16:02:01,2021-07-01 16:18:34,2021-07-01 16:24:45,1,0,23afbf36192aba3f273ecf933bbdad56,ed48b1d3514357db8163f5cd79582ab5,1346.0

In [15]:
df.tail(5)

,order_date,rider_assigned,food_picked_up,food_delivered,successful_order,failed_order,rider_id,vendor_id,price
47939,2021-07-30 06:55:05,2021-07-30 06:55:38,2021-07-30 07:12:39,2021-07-30 07:21:34,1,0,105cf28f9cdcc006302b83605e9a4d32,915dff0f301281f975d4aac54026a576,1163.0
47940,2021-07-30 17:01:13,2021-07-30 17:01:23,2021-07-30 17:24:30,2021-07-30 17:27:21,1,0,05d30c6ccb433a5f39b879fcd579f873,40552e31feef1704dcca105f9fb6fef2,492.0
47941,2021-07-30 16:57:59,2021-07-30 16:59:21,2021-07-30 17:09:21,2021-07-30 17:25:56,1,0,1bf043ad9d32e841e479f739644a224e,460a0d84d9c1d460baf974def0d23117,1595.0
47942,2021-07-30 11:33:57,2021-07-30 11:34:08,2021-07-30 11:44:22,2021-07-30 11:47:40,1,0,05d30c6ccb433a5f39b879fcd579f873,fc08409966f5f5a27ad9b9846c6fe7e4,558.0
47943,2021-07-30 17:05:13,2021-07-30 17:05:20,NaN,NaN,0,1,4976acea6c2e2811328dc336c9e96fe3,297d3df24261709ff7cb6f04135e9caf,1447.0

Опции pandas

In [26]:
# по умолчанию выводится 20 столбцов и 60 строк. Можно изменить с помощью:
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [28]:
#задаем точность, с которой мы отображаем числа с плавающей точкой 
pd.set_option('display.precision', 3)

In [30]:
df.shape

(47944, 9)

In [32]:
df.shape[0]

47944

In [34]:
df.columns

Index(['order_date', 'rider_assigned', 'food_picked_up', 'food_delivered',
       'successful_order', 'failed_order', 'rider_id', 'vendor_id', 'price'],
      dtype='object')

In [44]:
#для просмотра числовых статистик
df.describe()

       successful_order  failed_order      price
count         47944.000     47944.000  47944.000
mean              0.964         0.016    957.196
std               0.187         0.125    427.112
min               0.000         0.000    223.000
25%               1.000         0.000    586.000
50%               1.000         0.000    956.000
75%               1.000         0.000   1327.000
max               1.000         1.000   1700.000

In [48]:
#статистики по не числовым колонкам 
df.describe(include = ['object'])

,order_date,rider_assigned,food_picked_up,food_delivered,rider_id,vendor_id
count,47944,47883,46364,46260,47883,47944
unique,47082,45276,45525,45421,447,406
top,2021-07-19 09:07:03,2021-07-16 12:42:08,2021-07-13 10:27:16,2021-07-14 15:22:34,b7f93e38b59f20af3456fb85d827c0d3,9d3c4307b57777be1d4923d89fe1856d
freq,3,8,3,3,594,1945

In [50]:
#так же по нечисловым колонкам можно изучить распределение 
df.vendor_id.value_counts(dropna = False)[:10]

vendor_id
9d3c4307b57777be1d4923d89fe1856d    1945
664f822c55bccff52b742f26000dde4b    1232
f14a6286c9a5d2813c91f6c7d4864a39    1207
554aa4cfb03c2cee2301f11518d27ed4    1180
eb8fb38c9c319130400ea46fe70e4b87     935
08fcff35984652544c1fced8d7890442     931
834c264af3fdc2dba2fa77fa48b8788c     853
3220d5811c5b78640facd3c2d37b9223     853
4880f8a21aa5d0087f7aba4340b9d46a     771
aaa3d0d3301d2467ea1597b831de7ee6     751
Name: count, dtype: int64

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47944 entries, 0 to 47943
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_date        47944 non-null  object
 1   rider_assigned    47883 non-null  object
 2   food_picked_up    46364 non-null  object
 3   food_delivered    46260 non-null  object
 4   successful_order  47944 non-null  int64
 5   failed_order      47944 non-null  int64
 6   rider_id          47883 non-null  object
 7   vendor_id         47944 non-null  object
 8   price             47944 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 3.3+ MB

В случае работы с датафреймом занимаемая память - критичной фактор

In [55]:
# с помощью данного кода мы смотри какое количество памяти занимает определённый тип колонок
for dtype in ['float', 'int', 'object']:
    selected_dtype = df.select_dtypes(include = [dtype])
    mean_usage_b = selected_dtype.memory_usage(deep = True).mean()
    mean_usage_mb = mean_usage_b/ 1024**2
    print('Average memory usage for {} columns: {:03.2f} MB'.format(dtype, mean_usage_mb))

Average memory usage for float columns: 0.18 MB
Average memory usage for int columns: 0.24 MB
Average memory usage for object columns: 2.82 MB

In [61]:
# изменение типа колонок, если это необходимо 
df['price'] = df['price'].astype('float32')

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47944 entries, 0 to 47943
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_date        47944 non-null  object
 1   rider_assigned    47883 non-null  object
 2   food_picked_up    46364 non-null  object
 3   food_delivered    46260 non-null  object
 4   successful_order  47944 non-null  int64
 5   failed_order      47944 non-null  int64
 6   rider_id          47883 non-null  object
 7   vendor_id         47944 non-null  object
 8   price             47944 non-null  float32
dtypes: float32(1), int64(2), object(6)
memory usage: 3.1+ MB

### Тип данный КАТЕГОРИЯ

Он позволяет:

- более эффективно работать с категориальными (нечисловыми) признаками
- многие питоновские библиотеки имеют встроенные методы по работе с категориальными признаками 
- такие признаки занимают меньше места и такж положительно сказываются на производительности

In [73]:
df_with_cat = df.copy()

In [75]:
df_with_cat['vendor_id'] = df_with_cat['vendor_id'].astype('category')

In [77]:
df_with_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47944 entries, 0 to 47943
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_date        47944 non-null  object
 1   rider_assigned    47883 non-null  object
 2   food_picked_up    46364 non-null  object
 3   food_delivered    46260 non-null  object
 4   successful_order  47944 non-null  int64
 5   failed_order      47944 non-null  int64
 6   rider_id          47883 non-null  object
 7   vendor_id         47944 non-null  category
 8   price             47944 non-null  float32
dtypes: category(1), float32(1), int64(2), object(5)
memory usage: 2.9+ MB

In [85]:
%%timeit
df.groupby('vendor_id')['price'].mean().to_frame()

3.74 ms ± 722 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [89]:
%%timeit
df_with_cat.groupby('vendor_id')['price'].mean().to_frame()

<magic-timeit>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.

532 μs ± 44.9 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [91]:
#сортировка 
df.sort_values(by = ['vendor_id', 'price'], ascending = [True, False]).head(2)

,order_date,rider_assigned,food_picked_up,food_delivered,successful_order,failed_order,rider_id,vendor_id,price
11454,2021-07-08 15:30:40,2021-07-08 15:31:34,2021-07-08 15:42:18,2021-07-08 15:52:01,1,0,8a9ad87687aedb90c09dad90499a3fb8,014a1b8ef4b3e615893258d810b88a96,1007.0
27278,2021-07-18 13:46:31,2021-07-18 13:46:59,2021-07-18 13:58:20,2021-07-18 14:04:21,1,0,3892d37cbb9196714a3c6cc9ca8d936a,014a1b8ef4b3e615893258d810b88a96,803.0

In [93]:
#извлечение данных 
df.iloc[:, 0:4]

,order_date,rider_assigned,food_picked_up,food_delivered
0,2021-07-01 08:56:13,2021-07-01 09:04:09,2021-07-01 09:17:01,2021-07-01 09:29:58
1,2021-07-01 10:16:07,2021-07-01 10:16:36,2021-07-01 10:49:33,2021-07-01 11:04:07
2,2021-07-01 13:31:18,2021-07-01 13:31:37,2021-07-01 13:50:12,2021-07-01 14:08:42
3,2021-07-01 10:40:13,2021-07-01 10:40:42,2021-07-01 10:57:57,2021-07-01 11:16:26
4,2021-07-01 15:57:40,2021-07-01 16:02:01,2021-07-01 16:18:34,2021-07-01 16:24:45
...,...,...,...,...
47939,2021-07-30 06:55:05,2021-07-30 06:55:38,2021-07-30 07:12:39,2021-07-30 07:21:34
47940,2021-07-30 17:01:13,2021-07-30 17:01:23,2021-07-30 17:24:30,2021-07-30 17:27:21
47941,2021-07-30 16:57:59,2021-07-30 16:59:21,2021-07-30 17:09:21,2021-07-30 17:25:56
47942,2021-07-30 11:33:57,2021-07-30 11:34:08,2021-07-30 11:44:22,2021-07-30 11:47:40
47943,2021-07-30 17:05:13,2021-07-30 17:05:20,NaN,NaN

### Группировка данных

In [130]:
df_group = df.groupby('vendor_id')['price'].max()
df_group

vendor_id
014a1b8ef4b3e615893258d810b88a96    1007.0
014ca478889f2f66363eb8cbdf832516    1371.0
0172ff8832b405b53761303d86df2a86    1689.0
01b0bef321650ae048605b203c8efa1f    1686.0
020ed7abb2b318c3d7aa98f50e7185fb     603.0
                                     ...
fc08409966f5f5a27ad9b9846c6fe7e4    1690.0
fd0da4aea5306c25014761df6c475db9    1699.0
fd4dc3cc70d25a8ed11303eae34ca89f    1479.0
fde4b2502012e38506485ecfad48aa02    1697.0
ff6609fc0bf8b3824811a4ae7d431fd6    1684.0
Name: price, Length: 406, dtype: float32

In [126]:
df.groupby('vendor_id')['price'].agg([np.mean, np.std, np.min, np.max])

C:\Users\79918\AppData\Local\Temp\ipykernel_21472\1671118172.py:1: FutureWarning: The provided callable <function mean at 0x000001E8B85B6A20> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_group = df.groupby('vendor_id')['price'].agg([np.mean, np.std, np.min, np.max])
C:\Users\79918\AppData\Local\Temp\ipykernel_21472\1671118172.py:1: FutureWarning: The provided callable <function std at 0x000001E8B85B6B60> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  df_group = df.groupby('vendor_id')['price'].agg([np.mean, np.std, np.min, np.max])
C:\Users\79918\AppData\Local\Temp\ipykernel_21472\1671118172.py:1: FutureWarning: The provided callable <function min at 0x000001E8B85B6160> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df_group = df.groupby('vendor_id')['price'].agg([np.mean, np.std, np.min, np.max])
C:\Users\79918\AppData\Local\Temp\ipykernel_21472\1671118172.py:1: FutureWarning: The provided callable <function max at 0x000001E8B85B6020> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_group = df.groupby('vendor_id')['price'].agg([np.mean, np.std, np.min, np.max])

pandas.core.frame.DataFrame

In [132]:
#переобразовываем полученную серию в Датафрейм
type(df_group.reset_index())

pandas.core.frame.DataFrame

In [134]:
type(df_group.to_frame())

pandas.core.frame.DataFrame